## 2019 Citi Bike Data

The following combines each quarter's data report for 2019. This will be used as a test file to get familiar with the data, providing a roadmap to all the transformations that will be needed. 

Once 2019 is analyzed, I'd like to combine the end of year reports (Dec 13-19).

In [1]:
import numpy as np
import pandas as pd
import os
import glob
import datetime
from datetime import timedelta

In [ ]:
os.chdir("../Tableau Citi Bike/Data/2019/Trip Data")

In [ ]:
#find all csv files in the folder
#use glob pattern matching -> extension = 'csv'
#save result in list -> all_filenames
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
print(all_filenames)

In [ ]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [ ]:
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [2]:
#Read in csv that was created 
td_19 = pd.read_csv("../Tableau Citi Bike/Data/2019/Trip Data/combined_csv.csv")

KeyboardInterrupt:

In [6]:
td_19.head()

# Data Cleanup

#trip duration is in seconds, needs to be converted
#birth year should convert to age (datetime?)
#Exclude unknown genders for analysis

#Questions

# What is the average distance(miles)?
# Most popular start and end locations?

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [ ]:
#Will exclude unknown genders in analysis later 
combined_csv.gender.value_counts()

In [ ]:
combined_csv.usertype.value_counts()

In [29]:
# sec = td_19.tripduration[1]


def convert(n): 
    return datetime.timedelta(seconds = n)
      
n = td_19.tripduration[1]
print(convert(int(n)))

0:10:27

In [50]:
Trip_Time_mins = []

for i in td_19.tripduration:
        Trip_Time_mins =  str(datetime.timedelta(seconds = i))
      

Trip_Time_mins

'0:06:27'

In [55]:
max = td_19['birth year'].max()
min = td_19['birth year'].min()
print(max,min)

2003 1863